@page "/Login"

@inject HttpClient Http
@inject NavigationManager navManager

@using System.Text; 

<div class="container-fluid pt-5" style="max-width: 60vh;">
    <h1 class="font-weight-light text-center">Login to your account!</h1>
        <h5>@Message</h5>
        <div class="form-group">
            <label for="inputEmail">Email address *</label>
            <input type="email" class="form-control" id="inputEmail" @bind="Email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password *</label>
            <input type="password" class="form-control" id="inputPassword" @bind="Password" required>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" @onclick="LoginUser">Login</button>
        </div>
</div>


@code {

    public string Email { get; set; }
    public string Password { get; set; }
    public string Message { get; set; }
    private Users user = new();

    private async Task LoginUser()
    {
        try
        {
            byte[] barr = Encoding.ASCII.GetBytes(Password);
            user.UserEmail = Email;
            user.UserPassword = barr;
            await Http.PostAsJsonAsync("User/ValidateUser", user);
            user = new();
            Email = null;
            Password = null;
            navManager.NavigateTo("/");
        }
        catch(Exception ex)
        {
            Message = ex.Message;
            StateHasChanged();
        }
    }

}

