@page "/chart/{categoryType}/{yearSelected}"

@inject AuthenticationStateProvider AuthStateProvider 

<AuthorizeView>
    <Authorized>
        @if (isAdmin)
        {
            <div class="container-fluid">
            <ChartComponent Category="@CategoryType" YearSelected="@YearSelected" />
            </div>
        }
        else
        {
            <h5 class="text-center">Sorry, you cannot access this page</h5>
        }
    </Authorized>
    <NotAuthorized>
        Sorry, you cannot access this page.
    </NotAuthorized>
</AuthorizeView>



@code{
    [Parameter]
    public string CategoryType { get; set; }

    [Parameter]
    public string YearSelected { get; set; }

    public bool isAdmin { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var authUser = authState.User;
        if (authUser.Identity.IsAuthenticated && authUser.IsInRole("isAdmin") == true)
        {
            isAdmin = true;
            StateHasChanged();
        }
    }
}