@inherits LayoutComponentBase

@using Blazored.Toast.Configuration
@using Syncfusion.Blazor.Cards 

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <TopRow/>
        </div>

        <div class="content px-4">
            <div class="container-fluid text-center" style="margin-top: 3vh; margin-bottom: 2vh;">
                <SfCard ID="BasicCard">
                    <CardContent>
                        @Body
                        </CardContent></SfCard>
            </div>
        </div>
    </div>
        </div>

<style>
    #BasicCard {
        min-height: 80vh;
        border-radius: 15px;
    }
</style>
<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="3" IconType="IconType.Material" />
